* {
  margin: 0%;
}
h1 {
  text-align: center;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . . . ."
  }
  
  .box {
    padding: 100px;
  }

  .box1 {
    background-color: rgb(122, 122, 190); 
    text-align: center;
  }

  .box2 {
    background-color: rgb(0, 255, 13);
  }

  .box3 {
    background-color: rgb(255, 0, 179);
  }

  .box4 {
    background-color: rgb(238, 255, 0);
  }

  .box5 {
    background-color: rgb(0, 238, 255);
    text-align: center;
  }
  
  button{
    width: 150px;
    height: 150px;
  }

  #results {
    text-align: center;
  }

  #resetdiv{
    text-align: center;
  }