* {
  margin: 0%;
  background-color: black;
  color: aliceblue;
  font-size: 24px;
}
h1 {
  text-align: center;
  font-size: 35px;
  color: cadetblue;
}

p {
  text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    grid-template-rows: 1fr;
    gap: 0px 0px;
  }
  
  .box {
    padding: 100px;
  }

  .box1 {
    text-align: center;
  }

  .box5 {
    text-align: center;
  }
  
  button{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    color: black;
    font-size: 24px;
  }

  #results {
    text-align: center;
  }

  #resetdiv{
    text-align: center;
  }